* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.show .nav-links-container {
  display: block;
}

.nav-links-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-links-content {
  padding: 2rem;
  background-color: white;
  min-height: 100vh;
  height: 100%;
  width: 75vw;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.nav-links a {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.nav-burger {
  margin-right: 0.75rem;
}

.nav-burger span {
  background-color: hsl(219deg, 9%, 45%);
  display: block;
  height: 3px;
  width: 17.5px;
  margin-top: 0.25rem;
}

.nav-heading {
  display: flex;
  align-items: center;
}

.nav-button {
  display: flex;
}

.nav-button-cart {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
}

.nav-button-user img {
  width: 48px;
  height: 48px;
}

@media (min-width: 1024px) {
  .nav-links-close {
    display: none;
  }

  .nav-burger {
    display: none;
  }

  .nav-links-container {
    display: block;
    position: relative;
    margin: 0;
    background-color: transparent;
  }

  .nav-links-content {
    min-height: 0;
    padding: 0;
    width: 50%;
    margin-left: 5%;
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .nav-links a {
    color: hsl(219deg, 9%, 45%);
    font-weight: 500;
  }

  .nav {
    border-bottom: 1px solid hsl(220deg, 14%, 75%);
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 7.5%;
    padding: 1.5rem 0rem;
  }
}
main {
  padding-bottom: 10vh;
}

.item-container {
  position: relative;
}

.item-illustration-main {
  background-image: url(../images/image-product-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50vh;
}

.item-container-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-container-slider button {
  background-color: hsl(0deg, 0%, 100%);
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.item-container button svg {
  margin-top: 0.2rem;
}

.item-container-slider button:first-of-type svg {
  margin-left: -0.25rem;
}

.item-content {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 5%;
}

.item-title {
  color: hsl(26deg, 62%, 33%);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.item-name {
  color: hsl(220deg, 13%, 13%);
  font-size: 2rem;
  margin-top: 0.5rem;
}

.item-desc {
  color: hsl(219deg, 9%, 45%);
  margin-top: 0.5rem;
  line-height: 1.5;
}

.item-content-price {
  margin-top: 2rem;
}

.item-content-price span {
  display: flex;
  align-items: flex-end;
}

.item-content-price h4 {
  font-size: 1.75rem;
  margin-right: 1rem;
}

.item-content-price h5 {
  font-size: 1rem;
  margin-top: 0.25rem;
  text-decoration: line-through;
  color: hsl(219deg, 9%, 45%);
}

.item-content-price p {
  color: hsl(26deg, 62%, 33%);
  background-color: hsl(25deg, 100%, 94%);
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.item-button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  background-color: hsl(26deg, 62%, 33%);
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.item-button-add svg {
  margin-right: 0.5rem;
}

.item-button-amount {
  background-color: hsl(223deg, 64%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.item-button-amount input {
  border: 0;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
  }

  .item-container-slider {
    display: none;
  }

  .item-illustration-main {
    width: 50vw;
    height: 45vh;
    border-radius: 10px;
  }

  .item-content {
    width: 40%;
    margin: 0;
  }

  .item-button {
    display: flex;
    justify-content: space-between;
  }

  .item-button-add {
    width: 55%;
  }

  .item-button-amount input {
    width: 100%;
  }

  .item-button-amount {
    width: 40%;
  }

  .item-name {
    font-size: 4vw;
  }

  .item-title {
    font-size: 1.5vw;
  }

  .item-desc {
    font-size: 1.5vw;
  }

  .item-illustration-sub {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 5%;
  }

  .item-illustration-sub div {
    background-size: 100%;
    height: 100px;
    width: 50%;
    display: block;
    border-radius: 8px;
    cursor: pointer;
  }

  .item-illustration-sub .focus {
    border: 4px solid hsl(26deg, 62%, 33%);
    box-shadow: 10px 10px 0px 200px rgba(255, 255, 255, 0.75) inset;
    -webkit-box-shadow: 10px 10px 0px 200px rgba(255, 255, 255, 0.75) inset;
    -moz-box-shadow: 10px 10px 0px 200px rgba(255, 255, 255, 0.75) inset;
  }

  .item-illustration-sub-01 {
    background: url(../images/image-product-1-thumbnail.jpg) no-repeat;
  }

  .item-illustration-sub-02 {
    background: url(../images/image-product-2-thumbnail.jpg) no-repeat;
  }

  .item-illustration-sub-03 {
    background: url(../images/image-product-3-thumbnail.jpg) no-repeat;
  }

  .item-illustration-sub-04 {
    background: url(../images/image-product-4-thumbnail.jpg) no-repeat;
  }
}
.item-button-amount input::-webkit-outer-spin-button,
.item-button-amount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.item-button-amount input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 1440px) {
  .item-illustration-main {
    width: 750px;
    height: 700px;
  }

  .item-name {
    font-size: 3rem;
  }

  .item-title {
    font-size: 1.5rem;
  }

  .item-desc {
    font-size: 1.25rem;
  }

  .item-content {
    width: 35%;
  }
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.display {
  display: block;
}

.lightbox-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% auto;
  width: 90vw;
}

.lightbox-close {
  align-self: flex-end;
}

.lightbox-close {
  cursor: pointer;
}

.lightbox-close svg {
  transform: scale(1.5);
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.lightbox-close:hover {
  fill: hsl(26deg, 62%, 33%);
}

.lightbox-illustration-container {
  position: relative;
}

.lightbox-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 107%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox-navigation button svg {
  margin-top: 0.2rem;
}

.lightbox-navigation button:first-of-type svg {
  margin-left: -0.25rem;
}

.lightbox-navigation button {
  background-color: hsl(0deg, 0%, 100%);
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.lightbox-navigation button svg {
  stroke: #1D2026;
}

.lightbox-navigation button:hover svg {
  stroke: hsl(26deg, 62%, 33%);
}

.lightbox-illustration-main {
  background-image: url(../images/image-product-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40vh;
  width: 90vw;
  border-radius: 15px;
}

.lightbox-illustration-sub {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-top: 5%;
}

.lightbox-illustration-sub div {
  background-size: 100%;
  height: 9vh;
  width: 20vw;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.show {
  border: 4px solid hsl(26deg, 62%, 33%);
  box-shadow: 10px 10px 0px 200px rgba(255, 255, 255, 0.75) inset;
  -webkit-box-shadow: 10px 10px 0px 200px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 10px 10px 0px 200px rgba(255, 255, 255, 0.75) inset;
}

.lightbox-illustration-sub-01 {
  background: url("../images/image-product-1.jpg") no-repeat;
}

.lightbox-illustration-sub-02 {
  background: url("../images/image-product-2.jpg") no-repeat;
}

.lightbox-illustration-sub-03 {
  background: url("../images/image-product-3.jpg") no-repeat;
}

.lightbox-illustration-sub-04 {
  background: url("../images/image-product-4.jpg") no-repeat;
}

@media (min-width: 768px) {
  .lightbox-inner {
    width: 80vw;
    margin: 15% auto;
  }

  .lightbox-illustration-main {
    width: 80vw;
  }
}
@media (min-width: 1024px) {
  .lightbox-inner {
    width: 650px;
    margin: 10% auto;
  }

  .lightbox-illustration-main {
    width: 650px;
    height: 550px;
  }

  .lightbox-illustration-sub div {
    height: 135px;
    width: 160px;
  }
}/*# sourceMappingURL=style.css.map */